*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.main,.modal{
    height: 95vh;
    background-color: black;
    width: 100%;
    

}

.modal{
   
    position: absolute;
    top: 0;
    left: 0;
    color:white;
    display:none;
}

.modal.active{
    
    display:block;
    
}





.main h1{
    color:#21EB00;
    margin-bottom: 40px;

}

.container{
    margin-top: 40px;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: calc(50% - 40px);
    transform: translate(-50%,-50%);
    text-align: center;
}


h3{
    color: whitesmoke;
    font-weight: 100;

}



input, .main a{
    width:90% ;
    padding: 8px;
    margin-top: 10px;
    outline: none;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    border:0;
}

[type=date]{
    background-color: #191A18;
    color: whitesmoke;
    text-transform: uppercase;
    


}

.main a{
    text-decoration: none;
    background-color: #21EB00;
    cursor: pointer;
    color:rgb(7, 7, 7);
    display:inline-block;

}

/*+++++++++++++++++Modal estilizacao++++++++++++++++++++++++*/

.top{
    display: flex;
    justify-content: space-between;
    margin: 20px 2%;
    padding: 10px 2%;
}

#p1{
    font-size: 1.8rem;
    font-weight: 700;
    color:#21EB00;
    padding: 10px 10px;
    

}

#p2{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #21EB00;
    border-radius: 25px;
    padding: 10px 10px;
    cursor: pointer;
    color: antiquewhite;

}



#p2:hover{
    background-color: rgb(121, 110, 238);
    color:#21EB00;
    

}

.modal h1{
    margin:30px 0;
    text-align: center;
    font-size: 5rem;
    color:#191A18;
    font-weight: 700;


}
.container-contador{
  
    border-radius: 10px;
    padding: 15px;
    
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    display:grid;


}
.contador{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,250px));
    gap:10px;
    justify-content: center;
    padding: 10px;



}


.contador li span{
    font-style: normal;
    font-size: 8rem;



}


.contador li{
    list-style: none;
    font-style: italic;
    padding:1rem;
    margin: 2px 0;
    color: whitesmoke;
    
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    text-align: center;



}


.p3{
    color: #21EB00;




}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    background:black;
    font-size:2rem;
    


}

@media (max-width:600px){

    .main,.modal{
        height: 100vh;
        overflow:;
        
    
    }



}